<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="wrapper"
>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>A-Grupata</title>
    <link rel="stylesheet" th:href="@{/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-between">
              <ul class="navbar-nav">
                <li class="nav-item col-md-4">
                  <a class="nav-link my-text-color active h5 " th:href="@{/}">Home</a>
                </li>
              </ul>

              <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link my-text-color active h5 " th:href="@{/admin/register}">Register admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link my-text-color active h5 " th:href="@{/logout}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="container-fluid text-center flex-fill py-4"  th:insert="~{this::content}"></div>

      <footer class="text-center w-100">
        <h5>
          &copy; A-Grupata. All rights reserved.
        </h5>
      </footer>
    </div>
  </body>
</html>
