<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:insert="~{common/wrapper::wrapper}"
>
  <body>
    <div th:fragment="content">
      <h1>Register</h1>
      <h2 th:if="${userExistsError}">User with that username already exists!</h2>
      <form th:action="@{/admin/register}" th:object="${registerUserDto}" th:method="POST">
        <div>
          <label>Username</label>
          <input type="text" th:field="*{username}"/>
          <small th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}" class="text-danger">Username error message</small>
        </div>
        <div>
          <label>Password</label>
          <input type="password" th:field="*{password}"/>
          <small th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}" class="text-danger">Password error message</small>
        </div>
        <div>
          <label>Confirm Password</label>
          <input type="password" th:field="*{confirmPassword}"/>
        </div>
        <small
                th:if="${passwordMatchError}"
        >
          Passwords do not match!
        </small>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
